.select_tags_field,
.tag_options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  gap: 1rem;

  width: 100%;
}

.select_tags_field > button,
.tag_options > button {
  width: calc(25rem / 3.5);
  max-width: 19rem;
  background-color: var(--color-grey-700);
  border-radius: 0.5rem;
  /* text-wrap: nowrap; */
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.select_tags_field_input {
  width: 100%;
  background-color: inherit;
  border: none;
  border-radius: 0.5rem;
}

.select_tags_field_input:focus {
  outline: none;
}

/* .select_tags_field_input_wrapper {
  flex: 1;
} */

.tag_options {
  width: 100%;
  border-top: 0.1rem solid var(--color-grey-700);
  padding-top: 1rem;
}

.tag_options > p {
  text-align: center;
}

.new_tag {
  background-color: var(--color-grey-700);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 1rem;
}

.btn_create_tag {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
