.highlight {
  width: 36rem;
  border: 0.1rem solid var(--color-grey-500);
  border-radius: 1rem;
  padding: 2rem;
  color: var(--color-text-highlight);

  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.highlight:hover {
  border: 0.1rem solid var(--color-grey-300);
}

.highlight:not(:last-child) {
  margin-bottom: 2rem;
}

.highlight_text {
  margin-bottom: 1rem;
}

.note_form {
  margin-top: 1rem;
}

.btn_delete_wrapper {
  text-align: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (max-width: 1024px) {
  .highlight {
    width: 100%;
  }
}
