.btn {
  position: relative;
  width: 15.5rem;
  height: 5rem;
  margin: 2rem;
  color: #fff;
  font-weight: 700;
}

.btn button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
  z-index: 1;
  letter-spacing: 0.1rem;
  overflow: hidden;
  transition: 0.5s;

  backdrop-filter: blur(15px);
}

.btn:hover button {
  letter-spacing: 0.3rem;
}

.btn button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.btn:hover button::before {
  transform: skewX(45deg) translateX(200%);
}

.btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 3rem;
  height: 1rem;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 3rem;
  height: 1rem;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

/* Blue */

.btn_blue::after {
  background: var(--color-blue-400);
  box-shadow: 0 0 5px var(--color-blue-400), 0 0 15px var(--color-blue-400),
    0 0 30px var(--color-blue-400), 0 0 60px var(--color-blue-400);
}

.btn_blue::before {
  background: var(--color-blue-400);
  box-shadow: 0 0 5px var(--color-blue-400), 0 0 15px var(--color-blue-400),
    0 0 30px var(--color-blue-400), 0 0 60px var(--color-blue-400);
}

/* Green */
.btn_green::after {
  background: var(--color-green-400);
  box-shadow: 0 0 5px var(--color-green-400), 0 0 15px var(--color-green-400),
    0 0 30px var(--color-green-400), 0 0 60px var(--color-green-400);
}

.btn_green::before {
  background: var(--color-green-400);
  box-shadow: 0 0 5px var(--color-green-400), 0 0 15px var(--color-green-400),
    0 0 30px var(--color-green-400), 0 0 60px var(--color-green-400);
}
