.more_action {
  position: absolute;
  width: 25rem;
  top: 5rem;
  left: -5rem;
  z-index: 100000;
  margin-top: 0.5rem;
  padding: 1.5rem 0;

  background-color: #28313b;
  border-radius: 0.5rem;
}

.more_action li {
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.more_action li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
