.container {
  max-width: 40rem;
  background-color: #42484d;
  border-radius: 1rem;

  padding: 2.5rem;
  margin: 0 auto;
}

.container .topbar {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 5.2rem;
}

@media (max-width: 450px) {
  .container .topbar {
    flex-direction: column;
    text-align: center;
  }
}
