.book_intro {
  max-width: 80rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  margin: 8rem auto 4rem auto;
}

.book_intro .book_intro_title {
  font-size: 4rem;
  padding-bottom: 2rem;

  border-bottom: 1px solid var(--color-grey-700);
  margin-bottom: 3rem;
}

.book_intro_author {
  font-size: var(--font-size-small);
  color: var(--color-grey-400);
}

.book_intro_bottom {
  display: flex;
  gap: 2rem;
}

.book_intro_tags {
  display: flex;
  gap: 1rem;
}
