.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 7rem;
  padding: 4rem 2rem;
  border-bottom: 0.05rem solid var(--color-grey-600);
}

.topbar .title,
.topbar .tools {
  display: flex;
  align-items: center;
}

.topbar .title {
  gap: 1rem;
}

.topbar .tools {
  gap: 1rem;
}

.topbar .title a {
  width: 3rem;
  height: 3rem;
  display: inline-block;

  text-align: center;
  line-height: 3rem;
}

.tools {
  position: relative;
}

.tool {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
}

.tool:hover {
  background-color: var(--color-grey-700);
}

.tool_active {
  background-color: var(--color-grey-700);
}
