.container {
  width: 30rem;
  height: 10rem;

  position: absolute;
  right: -30rem;
  bottom: 3rem;

  background-color: var(--color-grey-300);
  color: #000;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
}

.uploading {
  right: 3rem;
  transition: all 0.3s;
}

.exit {
  right: -30rem;
  transition: all 0.3s;
}
