.container {
  width: fit-content;
  height: 8rem;
  padding: 0 2rem;

  background-color: var(--color-grey-300);
  color: var(--color-red-700);
  border-radius: 1rem;

  text-align: center;
  line-height: 8rem;

  position: absolute;
  bottom: 18rem;
  right: -30rem;
  z-index: 200;
  transition: all 0.3s;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.error {
  right: 3rem;
}

.successful {
  right: 3rem;
  color: var(--color-green-700);
}
