.main {
  height: 100%;
  padding: 2.5rem 2rem;
  background: linear-gradient(rgba(36, 42, 46, 0.8), rgba(36, 42, 46, 0.8)),
    url(/image/banner-compressed.png);
  background-size: cover;
  background-position: top;

  position: relative;
}

.main .banner {
  margin-top: 10rem;
  text-align: center;
  color: var(--color-grey-50);
}

.slogan {
  font-size: var(--font-size-large);
  margin-bottom: 2.5rem;
}

.description {
  font-weight: 400;
}

.main .banner div[data-custombtn] {
  bottom: -3rem;
  left: calc(50% + 5rem);
  transform: translateX(-100%);
}

@media (max-width: 600px) {
  .slogan {
    font-size: var(--font-size-medium);
  }
}
