.text_styles_item {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 1rem;
}

.text_styles_item:not(:last-child) {
  border-bottom: 0.1rem solid var(--color-grey-700);
}

.text_styles_item_name svg {
  width: 1.8rem;
  margin-right: 1rem;
}

.text_styles_item_function {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text_styles_item_function_value {
  color: var(--color-grey-400);
  font-size: var(--font-size-small);
}

.text_styles_item_function_upDown button {
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-grey-800);
}

.text_styles_item_function_upDown button:first-child {
  margin-right: 0.2rem;
}

.text_styles_item_function_upDown button:hover {
  background-color: #28313b;
}
