.container {
  width: 40rem;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--color-blue-bg-darker);
  overflow: scroll;

  transition: width 0.3s;
}

.container::-webkit-scrollbar {
  display: none;
  padding: 1.5rem;
}

.notebook_close {
  width: 0;
  transition: width 0.1s;
}

.title {
  padding: 1.2rem 2rem;
  color: var(--color-grey-500);
}

.highlight_list {
  padding: 1.2rem 2rem;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .notebook_close {
    width: 0;
  }
}
