.readingArea_nav {
  width: 45rem;
  margin: 2rem auto;
  padding: 1.5rem 3rem;
  border: 1px solid var(--color-grey-700);
  border-radius: 1rem;
  position: fixed;
  right: 50%;
  z-index: 100000;
  transform: translateX(50%);
  background: linear-gradient(
    321deg,
    rgba(2, 0, 36, 1) 3%,
    rgba(25, 33, 62, 0.9920561974789917) 43%,
    rgba(19, 154, 181, 0.8884147408963585) 100%
  );

  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  transition: all 0.3s;
}

.list {
  display: flex;
  gap: 1.5rem;
  position: relative;
}

.right_btn_wrapper {
  position: relative;

  display: flex;
  gap: 1.5rem;
}

.navigation {
  position: absolute;
  width: 100%;
  height: 10rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ddd; */
}

.menuToggle {
  position: relative;
  width: 7rem;
  height: 7rem;
  background-color: var(--color-blue-600);
  border-radius: 7rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0, 1.5rem 2.5rem rgba(0, 0, 0, 0.15);
}

.menuToggle::before {
  content: "+";
  position: absolute;
  font-size: 4.8rem;
  font-weight: 100;
  color: #fff;
  transition: 0.5s;
}

.menuToggle.active::before {
  transform: rotate(225deg);
}

.menu {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-blue-600);
  border-radius: 7rem;
  z-index: -1;

  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: 1s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuToggle.active ~ .menu {
  width: 20em;
  height: 7rem;
  z-index: 1;
  transform: translateY(-10rem);
  transition-delay: 0s, 0.5s, 0.5s;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.1);
}

/* .menu::before {
  content: "";
  position: absolute;
  background-color: var(--color-silver-700);
  width: 1.6rem;
  height: 1.6rem;
  left: calc(50% - 0.8rem);
  bottom: 1rem;
  transform: rotate(45deg);
}

.menuToggle.active ~ .menu::before {
  transition-delay: 0.5s;
  bottom: -0.6rem;
} */

.menu .actionList {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  gap: 1rem;
}

.menu .actionList > button {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;

  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}

.menuToggle.active ~ .menu .actionList > button {
  opacity: 1;
  visibility: visible;
  transition-delay: calc(0.5s);
}
