.action_menu_container {
  position: relative;
  z-index: 100;
}

.action_menu {
  position: absolute;
  z-index: 1000000000;
}

.action_menu_inner {
  width: fit-content;
  display: flex;
  background-color: var(--color-blue-bg-tine);
  box-shadow: 0 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  gap: 0.5rem;

  position: relative;
}

.action_menu_inner > button {
  width: 3rem;
  padding: 0.2rem;
  border-radius: 50%;
  text-align: center;

  transition: all 0.3s;
}

.action_menu_inner > span:hover {
  background-color: var(--color-grey-500);
}
