.action_menu_container {
  position: relative;
  z-index: 100;
}

.action_menu {
  width: 100%;
}

.action_menu_inner {
  width: fit-content;
  display: flex;
  background-color: var(--color-blue-bg-tine);
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  gap: 0.5rem;

  position: relative;
}

.action_menu_inner > span {
  width: 3rem;
  padding: 0.2rem;
  border-radius: 50%;
  text-align: center;

  transition: all 0.3s;
}

.action_menu_inner > span:hover {
  background-color: var(--color-grey-500);
}
